/*-------------------------GLOBAL STYLES-------------------------------------*/
ul {
  list-style-type: none;
}

/*-----------------------NAV BAR STYLES-------------------------------------*/
.navbar {
  font-family: 'Architects Daughter';
  font-size: 20px;
  background-color: #000000;
  color: white;
  height: 50px;
  width: 100%;
  display: block;
}

.logo {
  font-size: 20px;
  display: inline-block;
  color: white;
  margin-top: 15px;
  margin-left: 10px;
}

.dropbtn {
    background-color: black;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: 2px solid white;
    border-radius: 3px;
    cursor: pointer;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 15px;
    margin-right: 10px;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: gray;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    float: right;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: gray}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.hide {
  display: none;
}

/*------------------------Create a Bookmark Form-----------------------------*/

.addBookmarkButton {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  height: 20px;
  color: black;
  display: block;
}

label {
  margin-left: 20px;
  margin-bottom: 20px;
  display: block;
}

.userTextInput {
  margin-left: 20px;
  display: inline-block;
  width: 30%;
}

.userUrlInput {
  margin-left: 20px;
  display: inline-block;
  width: 30%;
}

.userDescriptionInput {
  margin-left: 20px;
  margin-top: 20px;
  width: 63.5%;
  height: 200px;
  display: inline-block;
}

/*--------------------------Submit a Review Form------------------------------*/


/*--------------------------Setup Our Fonts------------------------------*/
@font-face {
  font-family: 'Architects Daughter';
  font-style: normal;
  font-weight: 400;
  src: local('Architects Daughter Regular'), local('ArchitectsDaughter-Regular'), url(/architectsdaughter.tff) format('truetype');
}
